<div class='col-md-4 col-sm-4 col-lg-4'>
	<% if !post.photos.empty? %>
		<%= image_tag post.photos[0].square_250.url, class: 'img-responsive center-block'%>
	<% else %>
		<img class='img-responsive center-block' src="http://placehold.it/250x250">
	<% end %>

  <h3 class = 'mini_post_title'> <%= link_to post.title, post %> </h3>
  <h5 class = 'mini_post_tagline'> <%= post.tag_line %> </h5>
</div>