<h1> All Categories </h1>

<ul class='list-group'>
	<% @categories.each do |c| %>
		<li class='list-group-item'> 
			<h4> <%= c.name %> </h4> 
			<div class= 'btn-group'> 
			<%= link_to '<button type="button" class="btn btn-warning"> Edit Category</button>'.html_safe, edit_category_path(c) %> 
			<%= link_to '<button type="button" class="btn btn-danger"> Delete Category</button>'.html_safe, category_path(c), data: {confirm: "Are you sure -- This can't be undone"}, :method => :delete %>
			</div>
		</li>
	<% end %>
</ul> 

<h3> New Category </h3>

<%= render 'form', button: 'Add New Category' %>


