
<div class="container-fluid">
	<div class="navbar-header">
	  <%= link_to "Erin's Epics", root_path, :class => 'navbar-brand' %>
	</div>
	<div>
	  <ul class="nav navbar-nav">
	    <li> <%= link_to 'New Post', new_post_path %> </li>
	    <li><a href="#">Link2</a></li> 
	    <li><a href="#">Link3</a></li> 
	  </ul>
	</div>
</div>

